<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Webb App Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Welcome to the Java Web App Homepage</h1>
    <h2>What would you like to do?</h2>

    <!--Buttons w/ hyperlinks inside formatted horizontally - links open in new window-->
    <button class="homepageButton buttonStyle"><a href="http://localhost:8080/AccountBalance">View Account Balance</a></button>
    <button class="homepageButton buttonStyle"><a href="http://localhost:8080/DepositFunds">Deposit Funds</a></button>
    <button class="homepageButton buttonStyle"><a href="http://localhost:8080/WithdrawalFunds">Withdrawal Funds</a></button>
    <button class="homepageButton buttonStyle"><a href="http://localhost:8080/TransferFunds">Transfer Funds</a></button>
</body>
</html>