<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Signup?</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Login or SignUp</h1>
    <div align="center">

        <button style="width: 200px; height: 70px; border: solid black 2px; border-radius: 10px;"><a href="/Login">Click to Login</a></button>
        <br>
        <br>
        <button style="width: 200px; height: 70px; border: solid black 2px; border-radius: 10px;"><a href="/Signup">Click to Register</a></button>
    </div>
</body>
</html>