<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Please enter login credentials</h1>

    <div id="loginFormContainer">
        <form action="">
            <br>
            <br>
            <br>
            <label for="usernameLogin">Username:</label>
            <input type="text" name="usernameLogin"><br>
            <br>
            <label for="passwordLogin">Password:</label>
            <input type="password" name="passwordLogin">
        </form>
    </div>
    
    <h3 id="noAccountStyle"><a href="http://localhost:8080/Signup">Dont have an account?</h3></a>
    
</body>
</html>