<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Signup?</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Login or Signup?</h1>

    <button class="homepageButton buttonStyle"><a href="http://localhost:8080/Login">Login</a></button>
    <button class="homepageButton buttonStyle"><a href="http://localhost:8080/Signup">Signup</a></button>
</body>
</html>