<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdrawal Funds</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Accessing Withdrawal Funds Page...</h1>
    <div class="styleTransactionForm">
        <form>
            <label for="">Withdrawal From: </label>
            <input type="radio" name="accountType">Checking
            <input type="radio" name="accountType">Savings<br>
            <br>
            <label for="">Withdrawal Amount: </label>
            <input type="number"><br>
            <br>
            <input type="submit" value="Submit">
        </form>    
    </div>







    <button class="backButton"><a href="http://localhost:8080/Home">back</a></button>
</body>
</html>